



.add-section{
    display: flex;
    justify-content: center;
    /* background-color: white; */
}

.add-section .add-left{
    margin: 80px;
}

.add-section .add-left img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.add-section .add-right{
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-section .add-right button{
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
    height: 50px;
    width: 200px;
    background-color: #00ff00;
    border-radius: 7px;
    font-size: 18px;
}

.task-list h1{
    color: white;
    text-align: center;
    font-size: 42px;
}