.add-task-section{
    margin-top: 100px;
    margin-left: 150px;
}


h1{
    color: white;
}

form {
    max-width: 500px;
}

input, textarea {
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-family: 'Roboto';
}
textarea {
    min-height:200px;
}

button{
    width: 525px;
    height: 50px;
    
}